.banner_container{
    background-image:url('../../../images/banner/bannerbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 220px;
    text-align: center;
}
.form_container_button{
    background-color: rgb(196, 30, 30);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 10px 10px 0;
}
.form_container_input{
    border-radius: 10px 0 0 10px;
    padding: 10px;
    border: none;
    width: 50%;

}
@media only screen and (max-width:780px){
    .banner_container{
      
        padding: 80px;

    }
}
@media only screen and (min-width:781px) and (max-width:1100px){
    .banner_container{
        padding: 180px;

    }
    
}
